.empty-cart {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.empty-cart__img {
  max-width: 174px;
  margin-bottom: 40px;
  margin-right: -10px;
}

.empty-cart__text {
  font-family: "Urbanist";
  margin-bottom: 30px;
}

@media (min-width: 1440px) {
  .empty-cart__img {
    min-width: 12vw;
  }
}
