.back-link {
  font-family: "Urbanist";
  padding-left: 34px;
  background: url(../../assets/icons/arrow-back.svg) left center / contain
    no-repeat;
  margin: 45px 0;
  display: block;
  width: fit-content;
}
