.header {
  padding: 15px 0;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header__cart {
  position: relative;
  width: 24px;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: -12px;
    width: 24px;
    height: 24px;
    background: url(../../assets/icons/cart.svg);
  }
}

@media (max-width: 600px) {
  .header {
    padding: 18px 0;
  }
}
